.contentBody {
    width: 80%;
    margin: 20px auto;
}
body{
    background-image: url(../images/head.jpg);
    background-size:100%;
    background-position:0 56px;
    /*background-repeat:no-repeat;*/
    background-color:rgba(0,0,0,0.8);
}
.btn-text{
    color: rgba(255,255,255,.5);
}
.btn-text:hover{
    color: #fff !important;
    text-decoration: none;
    /*cursor: pointer;*/
}
.btn-text:visited,.btn-text:active,.btn-text:link,.btn-text:focus{
    text-decoration: none !important;
}